<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="hero-section">
    <div class="title-hero">
        Mari mulai berpetualang menjelajah alam semesta dan isi nya bersama Little Einstein
    </div>

    <div class="animation-hero">
        <div class="animation animation-1">
            <img src="img/little_astronot.png" alt="">
        </div>

        <div class="animation animation-2">
            <img src="img/meteor.png" alt="">
        </div>

        <div class="animation animation-3">
            <img src="img/ufo.png" alt="">
        </div>

    </div>

</div>

<div class="content container-fluid">

</div>


<%- include('../partials/footer') %> 