<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="hero-section">
    <div class="title-hero" >
       <div data-aos="fade-down">
        Mari mulai berpetualang menjelajah alam semesta dan isi nya bersama Little Einstein
       </div>
    </div>

    <div class="animation-hero">
        <div class="animation animation-1">
            <img src="img/little_astronot.png" alt="">
        </div>

        <div class="animation animation-2">
            <img src="img/meteor.png" alt="">
        </div>

        <div class="animation animation-3">
            <img src="img/ufo.png" alt="">
        </div>

    </div>

</div>

<div class="content container">
    <div class="content-information">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="t-h1" data-aos="fade-down">Mari Pilih Perjalanan Mu Untuk Melakukan Eksplorasi</h1>
            </div>
        </div>

        <div class="row wrap-box-explore">
            <div class="col-lg-4">
                <div class="box-explore" data-aos="fade-right">
                    <img src="img/planet.png" alt="" class="thumbnail-box">
                    <h2 class="title-box">Tahuka teman - teman semua,bahwa kita saat ini tinggal di suatu galaksi yang bernama BIMASAKTI dan planet kita bernama bumi</h2>
                    <a href="" >
                        <div class="button"> jelajahi </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box-explore" data-aos="fade-up">
                    <img src="img/ubur-ubur.png" alt="" class="thumbnail-box">
                    <h2 class="title-box">Fakta menarik di lautan,bahwa di lautan banyak sekali hewan yang hidup,namun tak banyak dari kita yang mengetahui seluruh yang ada disana</h2>
                    <a href="" >
                        <div class="button"> jelajahi </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box-explore" data-aos="fade-left">
                    <img src="img/koala.png" alt="" class="thumbnail-box">
                    <h2 class="title-box">Koala adalah salah satu binatang berkantung khas dari Australia dan merupakan hewan yang sangat pemalas karena dia bergerak cukup lambat</h2>
                    <a href="" >
                        <div class="button"> jelajahi </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<%- include('../partials/footer') %> 